[submodule "aws-cfn-resource-specs"]
	path = aws-cfn-resource-specs
	url = https://github.com/ScriptAutomate/aws-cfn-resource-specs.git
[submodule "cloudformation-guard"]
	path = cloudformation-guard
	url = https://github.com/claytonbrown/cloudformation-guard.git
[submodule "cfn_nag"]
	path = cfn_nag
	url = https://github.com/stelligent/cfn_nag.git
